ul {
    list-style: none;
}

:root {
    --color-primary:#757575;
    --color-accent: #2196F3;
    --color-background: #FFFFFF;
}

body {
    color: var(--color-primary);
    font-size: 14px;
    background-color: var(--color-background);
    font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p 
ul {
    margin: 0;
}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-web {
    color: #2196F3;
}

.logo-studio {
    color:#000000
}

.site-nav-studio:hover,
.studio-link:focus {
    color: #2196F3;
}

.site-nav-studio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    letter-spacing: 0.02em;
}

.site-nav-portfolio:hover,
.portfolio-link:focus {
    color: #2196F3;
}

.site-nav-portfolio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #212121;
    letter-spacing: 0.02em;
}

.site-nav-contact:hover,
.contact-link:focus {
    color: #2196F3;
}

.site-nav-contact {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #212121;
    letter-spacing: 0.02em;
}

.contact-email:hover,
.contact-email:focus {
    color:#2196F3;
}

.contact-email {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    letter-spacing: 0.02em;
}

.contact-phone:hover,
.contact-phone:focus {
    color: #2196F3;
}

.contact-phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    letter-spacing: 0.02em;
}

.main {
    background-color: #2F303A;
}

.main-header {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}
.main-button {    
    background-color: #2196F3;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.06em;
}

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 0.03em;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
}

.services {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
}

.team {
    background-color: #F5F4FA;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
    letter-spacing: 0.03em;
}

.team-resp {
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    letter-spacing: 0.03em;
}

.footer {
    background-color: #2F303A;
}

.footer-logo-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    letter-spacing: 0.03em;
}

.footer-logo-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

.footer-address-map:hover,
.footer-address-map:focus {
    color: #2196F3;
}

.footer-address-map {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

.footer-address-email:hover,
.footer-address-email:focus {
    color: #2196F3;
}

.footer-address-email {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

.footer-address-phone:hover,
.footer-address-phone:focus {
    color: #2196F3;
}

.footer-address-phone {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

.site-nav-st:hover,
.studio-link:focus {
    color: #2196F3;
}

.site-nav-st {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #212121;
    letter-spacing: 0.02em;
}

.site-nav-port {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #2196F3;
    letter-spacing: 0.02em;
   }

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    letter-spacing: 0.06em;
}

.category {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    letter-spacing: 0.03em;
}

.button-all {
    background-color: #2196F3;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.03em;
}

.button-site, .button-apps, .button-design, .button-marketing {
    background-color: #F5F4FA;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #212121;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.page-header {
    border-bottom: 1px solid #ECECEC
}

.page-header-container {
    display: flex;
    align-items: center;
    padding-right: 215px;
    padding-left: 215px;
}

.page-header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 93px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 344px;
    padding-left: 0;
}

.main {
    display: flex;
    height: 600px;
    align-items: center;
    border: 1px solid #000000;
    align-items: center;
}

.main-header {
    display: flex;
    max-width: 696px;
    text-align: center;
    /* margin-left: 452px;
    margin-right: 452px; */
    margin: 0 auto;
}

.main-button {
    display:flex;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: transparent;
    margin-top: 30px;
}

.container {
    justify-content: center;
    width: 1200px;
}

.advantages {
    display: flex;
    flex-basis: (100%-90px):4;
    margin-top: 94px;
    align-content: center;
    margin-left: 215px;
    gap: 30px;
}

.advantages-item {
    width: 270px;
    height: 98px;
}

.advantages-text {
    padding-top: 10px;
}

.services {
    display: flex;
    text-align: center;
    margin-top: 94px;
    margin-left: 617px;
    margin-right: 617px;
    max-width: 366px;
    border-radius: nullpx;
}

.services-list-container {
    display: flex;
    /* flex-basis: (100%-60px):3; */
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 94px;
}

.team {
    height: 648px
}

.team-header {
    /* display: flex; */
    width: 264px;
    text-align: center;
    margin-left: 668px;
    margin-right: 668px;
    padding-top: 94px;
}

.team-cards {
    display: flex;
    flex-basis: (100%-90px):4;
    align-items: center;
    gap: 30px;
    margin-left: 215px;
    margin-right: 215px;
    padding-bottom: 94px;
    justify-content: center;
}

.team-member {
    text-align: center;
    margin-top: 30px;
}

.team-resp {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.team-cards-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.footer {
    height: 252px;
    align-items: center;
    padding-top: 60px;
}

.footer-logo {
    text-decoration: none;
    margin-left: 215px;
}

.footer-address {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 215px;
    padding: 0;
}

.button {
    display:flex;
    justify-content: center;
    gap: 8px;
    margin-top: 94px;
}

.button-all {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: transparent;
    height: 38px;
    width: 73px;
    left: 512px;
    top: 174px;
    border-radius: 4px;
    text-align: center;
}

.button-site, .button-apps, .button-design, .button-marketing {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    border: transparent;
}

.button-site {
    height: 38px;
    width: 125px;
    left: 593px;
    top: 175px;
    border-radius: 4px;
    text-align: center;
}

.button-apps {
    height: 38px;
    width: 112px;
    left: 726px;
    top: 174px;
    border-radius: 4px;
}

.button-design {
    height: 38px;
    width: 103px;
    left: 846px;
    top: 174px;
    border-radius: 4px;
}

.button-marketing {
    height: 38px;
    width: 130px;
    left: 957px;
    top: 174px;
    border-radius: 4px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 34px;
    margin-bottom: 0;
}

.project-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-bottom: 94px;
}

.project-name {
    margin-top: 20px;
    margin-left: 24px;
}

.category {
    margin-top: 4px;
    margin-left: 24px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}
